.main-form
{
	max-width: 450px;
	margin: 0 auto;
	background-color: rgba(251, 251, 251, 0.3);
	border:1px solid #e9e9e9;
	padding:10px;

	h4
	{
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		border-bottom: 1px solid #e9e9e9;
		padding-bottom: 10px;
	}
}

.form-control
{
	border-radius: 0.1em;
}